 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Figtree';
 }

 header {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding: 0px;
     isolation: isolate;
     width: 100vh;
     height: 909px;
     flex: none;
     order: 0;
     align-self: stretch;
     flex-grow: 0;
 }

 nav {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding: 0px;
     position: absolute;
     width: 1440px;
     height: 100px;
     left: 0px;
     top: 0px;
     background: #FFFFFF;
     flex: none;
     order: 1;
     flex-grow: 0;
     z-index: 1;
 }

 .nav-bar {
     box-sizing: border-box;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     gap: 70px;
     width: 1440px;
     height: 100px;
     flex: none;
     order: 0;
     align-self: stretch;
     flex-grow: 0;
 }

 .menu-logo,
 .nav-menu {
     display: none;
 }

 .side-nav {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 0px;
     width: 295px;
     height: 34.62px;
     right: 0;
     font-family: 'Figtree';
     flex: none;
     z-index: 9999;
     align-self: stretch;
     flex-grow: 0;
 }

 .list {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding: 0px;
     font-family: 'Figtree';
     gap: 36px;
     width: 282px;
     height: 462px;
     flex: none;
     order: 0;
     flex-grow: 0;
 }

 .sidebar {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding: 50px 16px;
     gap: 10px;
     right: 0;
     font-family: 'Figtree';
     width: 327px;
     height: 947px;
     position: absolute;
     background: #FFE3E8;
     flex: none;
     order: 0;
     align-self: stretch;
     flex-grow: 0;

 }

 .nav-menu {
     position: absolute;
     width: 375px;
     height: 680px;
     right: 0px;
     top: 0px;
     background: rgba(0, 0, 0, 0.7);
 }

 .sidebar ul {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     align-content: flex-start;
     padding: 0px;
     gap: 40px;
     width: 172px;
     height: 380px;
     font-family: 'Figtree';
     flex: none;
     order: 0;
     flex-grow: 0;
 }

 .sidebar li {
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 10px;
     gap: 24px;
     width: 172px;
     height: 44px;
     font-family: 'Figtree';
     flex: none;
     order: 0;
     flex-grow: 0;
 }

 .side-btn button {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     align-content: flex-start;
     padding: 0px;
     gap: 40px;
     width: 282px;
     height: 46px;
     flex: none;
     order: 1;
     align-self: stretch;
     flex-grow: 0;
 }

 .sidebar a {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 0px;
     font-family: 'Figtree';
     gap: 10px;
     height: 22px;
     flex: none;
     order: 1;
     flex-grow: 0;
 }

 .li-logo {
     width: 24px;
     height: 24px;
     flex: none;
     order: 0;
     flex-grow: 0;
 }

 .nav-head {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding: 10px 16px;
     gap: 10px;
     position: absolute;
     font-family: 'Figtree';
     right: 0;
     width: 327px;
     height: 54.62px;
     background: #FFE3E8;
     flex: none;
     order: 0;
     flex-grow: 0;
 }

 .logo {
     margin: 0 auto;
     width: 231.17px;
     height: 58px;
     flex: none;
     order: 0;
     flex-grow: 0;

 }

 .nav-bar ul {
     display: flex;
     flex-direction: row;
     align-items: center;
     font-family: 'Figtree';
     padding: 0px;
     gap: 24px;
     margin: 0 auto;
     width: 547px;
     height: 44px;
     flex: none;
     order: 1;
     flex-grow: 0;
 }

 .nav-bar ul li {
     display: flex;
     flex-direction: row;
     align-items: center;
     font-family: 'Figtree';
     padding: 10px;
     gap: 4px;
     min-width: 57px;
     max-width: 124px;
     height: 44px;
     flex: none;
     order: 0;
     flex-grow: 0;
 }

 ul li a {
     text-decoration: none;
     width: auto;
     height: 22px;
     font-family: 'Figtree';
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 22px;
     text-transform: capitalize;
     color: #282828;
     flex: none;
     order: 0;
     flex-grow: 0;
 }

 .nav-btn {
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 0px;
     gap: 24px;
     margin: 0 auto;
     width: 147px;
     height: 46px;
     flex: none;
     order: 2;
     flex-grow: 0;
 }

 .get-btn {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 14px 22px;
     gap: 10px;
     width: 147px;
     height: 46px;
     background: #FA1239;
     border: none;
     box-shadow: 0px 0px 12px rgba(250, 18, 57, 0.58);
     border-radius: 30px;
     flex: none;
     order: 0;
     flex-grow: 0;
 }

 .get {
     width: 103px;
     height: 22px;
     font-family: 'Figtree';
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 22px;
     text-transform: capitalize;
     color: #FFFFFF;
     flex: none;
     order: 0;
     flex-grow: 0;
 }

 .main {
     width: 1440px;
     height: 909px;
     background: linear-gradient(261.18deg, #FFE7EB -0.46%, #FFBFCA 100.67%);
     flex: none;
     order: 0;
     align-self: stretch;
     flex-grow: 0;
     z-index: 0;
 }

 .rating {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 20px 15px;
     gap: 20px;
     position: absolute;
     width: 350px;
     height: 117px;
     left: 729px;
     top: 585px;
     background: rgb(255, 255, 255);
     backdrop-filter: blur(45.5px);
     border-radius: 10px;
 }

 .rate {
     width: 101px;
     height: 77px;
     font-family: 'Inter';
     font-style: normal;
     font-weight: 600;
     font-size: 64px;
     line-height: 77px;
     text-transform: capitalize;
     color: #1CB098;
     flex: none;
     order: 0;
     flex-grow: 0;
 }

 .star-rate {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding: 0px;
     gap: 11px;
     width: 199px;
     height: 56.35px;
     flex: none;
     order: 1;
     flex-grow: 0;
 }

 .star {
     width: 17.12px;
     height: 16.35px;
     flex: none;
     order: 0;
     flex-grow: 0;

 }

 .write {
     width: 199px;
     height: 29px;
     font-family: 'Figtree';
     font-style: normal;
     font-weight: 600;
     font-size: 24px;
     line-height: 29px;
     text-transform: capitalize;
     color: #000000;
     flex: none;
     order: 1;
     align-self: stretch;
     flex-grow: 0;

 }


 .content {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding: 0px;
     gap: 38px;
     isolation: isolate;
     position: absolute;
     width: 620px;
     height: 510px;
     left: 100px;
     top: 228px;
 }

 .red {
     color: red;
 }

 .big {
     width: 620px;
     height: 252px;
     font-family: 'Figtree';
     font-style: normal;
     font-weight: 700;
     font-size: 64px;
     line-height: 78px;
     text-transform: capitalize;
     color: #000000;
     flex: none;
     order: 0;
     align-self: stretch;
     flex-grow: 0;
     z-index: 0;
 }

 .line {
     position: absolute;
     width: 363px;
     height: 17px;
     left: 0px;
     top: 153.25px;
     flex: none;
     order: 3;
     flex-grow: 0;
     z-index: 3;
 }

 .text {
     width: 485px;
     height: 136px;
     font-family: 'Figtree';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 34px;
     text-transform: capitalize;
     color: #000000;
     flex: none;
     order: 1;
     flex-grow: 0;
     z-index: 1;
 }

 .btn {
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 0px;
     gap: 24px;
     width: 383px;
     height: 46px;
     flex: none;
     order: 2;
     flex-grow: 0;
     z-index: 2;
 }

 .resume {
     box-sizing: border-box;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 14px 22px;
     gap: 10px;
     width: 202px;
     height: 46px;
     background: #FFFFFF;
     border: 1px solid #FA1239;
     box-shadow: 0px 0px 12px rgba(250, 18, 57, 0.58);
     border-radius: 30px;
     flex: none;
     order: 0;
     flex-grow: 0;
     color: red;
     border: none;
 }

 .contact {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 14px 22px;
     gap: 10px;
     width: 157px;
     height: 46px;
     background: #FA1239;
     box-shadow: 0px 0px 12px rgba(250, 18, 57, 0.58);
     border-radius: 30px;
     flex: none;
     order: 1;
     flex-grow: 0;
     color: white;
     border: none;
 }

 .circle-1,
 .circle-2,
 .photo {
     position: absolute;
     border-radius: 50%;
 }

 .circle-1 {
     position: absolute;
     width: 633.87px;
     height: 633.88px;
     left: 766px;
     top: 283.49px;
     background: radial-gradient(55.26% 55.26% at 50% 44.74%, #FFE4E9 0%, #FFCBD4 100%);
     z-index: 0;
 }

 .circle-2 {
     position: absolute;
     width: 476.45px;
     height: 476.45px;
     left: 845.23px;
     top: 361.68px;
     background: radial-gradient(50.11% 50.11% at 50.11% 49.89%, #FECDD5 0%, #FFE2E7 100%);
     z-index: 1;
 }

 .photo {
     position: absolute;
     width: 506px;
     height: 727px;
     left: 811px;
     top: 190px;
     background: url(portrait-happy-young-woman-standing-with-backpack-holding-books-mobile-phone-isolated-white-wall-removebg-preview.png);
     border-radius: 0px;
     z-index: 2;
 }

 .online {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 30px;
     gap: 20px;
     position: absolute;
     width: 270.66px;
     height: 133.43px;
     left: 1129px;
     top: 734px;
     background: #FFFFFF;
     border-radius: 10px;
     z-index: 3;
 }

 .online-logo {
     width: 80px;
     height: 80px;
     flex: none;
     order: 0;
     flex-grow: 0;


 }

 .cont {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding: 0px;
     width: 124px;
     height: 76px;
     flex: none;
     order: 1;
     flex-grow: 0;
 }

 .two {
     width: 124px;
     height: 36px;
     font-family: 'Figtree';
     font-style: normal;
     font-weight: 800;
     font-size: 30px;
     line-height: 36px;
     text-transform: capitalize;
     color: #000000;
     flex: none;
     order: 0;
     align-self: stretch;
     flex-grow: 0;

 }

 .online-resume {
     width: 124px;
     height: 40px;
     font-family: 'Figtree';
     font-style: normal;
     font-weight: 500;
     font-size: 17px;
     line-height: 20px;
     text-transform: capitalize;
     color: #666666;
     flex: none;
     order: 1;
     align-self: stretch;
     flex-grow: 0;

 }

 .rate {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 20px 15px;
     gap: 20px;
     position: absolute;
     width: 350px;
     height: 117px;
     left: 729px;
     top: 585px;
     background: white;
     backdrop-filter: blur(45.5px);
     border-radius: 10px;
     z-index: 4;
     order: 0;
 }

 :root {
     --bg: #ffffff;
     --muted: #9aa0a6;
     --accent: #ef4b57;
     --card-shadow: 0 10px 30px rgba(18, 24, 31, 0.06);
     --pill-bg: #fde7e8;
     --container-w: 1200px;
 }

 * {
     box-sizing: border-box
 }

 html,
 body {
     height: 100%;
     width: 1440px;
     margin: 0;
     background: var(--bg);
     color: #111827;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }

 .page {
     max-width: var(--container-w);
     margin: 48px auto;
     padding: 24px;
 }

 .pill {
     display: inline-block;
     margin: 8px 0 28px 0;
     justify-content: center;
     align-items: center;
     padding: 10px 20px;
     gap: 10px;
     width: 154px;
     height: 42px;
     background: rgba(253, 146, 164, 0.3);
     border-radius: 6px;
     flex: none;
     order: 0;
     flex-grow: 0;

 }

 .pill p {
     width: 114px;
     height: 22px;
     font-family: 'Figtree';
     font-style: normal;
     font-weight: 600;
     font-size: 18px;
     line-height: 22px;
     display: flex;
     align-items: center;
     text-transform: capitalize;
     color: #000000;
     flex: none;
     order: 0;
     flex-grow: 0;
 }

 .hero {
     text-align: center;
     margin-bottom: 40px;
     padding: 0 20px;
 }

 .hero h1 {
     margin: 0 auto;
     width: 1240px;
     height: 110px;
     font-family: 'Figtree';
     font-style: normal;
     font-weight: 600;
     font-size: 44px;
     line-height: 55px;
     align-items: center;
     text-align: center;
     text-transform: capitalize;
     color: #000000;
     flex: none;
     order: 0;
     align-self: stretch;
     flex-grow: 0;

 }

 .hero h1 .accent {
     color: var(--accent);
     font-weight: 800;
 }

 .cards {
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 0px;
     gap: 20px;
     width: 1255px;
     height: 450px;
     flex: none;
     order: 1;
     align-self: stretch;
     flex-grow: 0;
 }

 .card {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding: 20px;
     gap: 24px;
     width: 298.75px;
     height: 450px;

     background: #FFFFFF;
     box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
     border-radius: 20px;
     flex: none;
     order: 0;
     flex-grow: 1;
 }

 .illustration {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 0px;
     gap: 18px;
     width: 258.75px;
     height: 278px;
     flex: none;
     order: 0;
     align-self: stretch;
     flex-grow: 0;
 }

 .card-img {
     width: 300px;
     height: 200px;
     flex: none;
     order: 0;
     flex-grow: 0;
 }

 .card h3 {
     font-size: 18px;
     color: #111827;
     width: 238.75px;
     height: 60px;
     font-family: 'Figtree';
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 30px;
     display: flex;
     align-items: center;
     text-align: center;
     color: #000000;
     flex: none;
     order: 0;
     flex-grow: 1;
 }

 .card p {
     font-family: 'Figtree';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 30px;
     display: flex;
     align-items: center;
     text-align: center;
     color: #595959;
     flex: none;
     order: 1;
     align-self: stretch;
     flex-grow: 0;
 }

 @media (max-width:375px) {

     html,
     body {
         position: relative;
         width: 375px;
         height: 3201px;
         font-family: 'Figtree';
         background: #FFFFFF;
         overflow: auto;
     }

     .menu-logo {
         display: flex;
         flex-direction: row;
         align-items: flex-start;
         padding: 0px;
         gap: 13px;
         width: 24px;
         height: 24px;
         background-color: white;
         border: none;
         flex: none;
         order: 1;
         flex-grow: 0;
     }

     .side-nav {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         padding: 0px;
         width: 295px;
         height: 34.62px;
         right: 0;
         flex: none;
         z-index: 9999;
         align-self: stretch;
         flex-grow: 0;

     }

     .list {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         padding: 0px;
         gap: 36px;
         padding-top: 35px;
         width: 282px;
         height: 462px;
         flex: none;
         order: 0;
         flex-grow: 0;
     }

     .sidebar {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         padding: 50px 16px;
         gap: 10px;
         right: 0;
         width: 327px;
         height: 947px;
         position: absolute;
         background: #FFE3E8;
         flex: none;
         order: 0;
         align-self: stretch;
         flex-grow: 0;
     }

     .nav-menu {
         position: absolute;
         width: 375px;
         height: 680px;
         right: 0px;
         top: 0px;
         background: rgba(0, 0, 0, 0.7);
     }

     .sidebar ul {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         align-items: center;
         align-content: flex-start;
         padding: 0px;
         gap: 40px;
         width: 172px;
         height: 380px;
         flex: none;
         order: 0;
         flex-grow: 0;
     }

     .sidebar li {
         display: flex;
         flex-direction: row;
         align-items: center;
         padding: 10px;
         gap: 24px;
         width: 172px;
         height: 44px;
         flex: none;
         order: 0;
         flex-grow: 0;

     }

     .side-btn button {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         align-items: center;
         align-content: flex-start;
         padding: 0px;
         gap: 40px;
         width: 282px;
         height: 46px;
         flex: none;
         order: 1;
         align-self: stretch;
         flex-grow: 0;
     }

     .sidebar a {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         padding: 0px;
         gap: 10px;
         height: 22px;
         flex: none;
         order: 1;
         flex-grow: 0;
     }

     .li-logo {
         width: 24px;
         height: 24px;
         flex: none;
         order: 0;
         flex-grow: 0;

     }

     nav {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         padding: 10px 16px;
         gap: 10px;
         position: absolute;
         width: 375px;
         height: 54.62px;
         left: 0px;
         top: 0px;
         background: #FFFFFF;
         box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.11);
     }

     .nav-bar {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         padding: 0px;
         gap: 187px;
         width: 343px;
         height: 34.62px;
         flex: none;
         order: 0;
         align-self: stretch;
         flex-grow: 0;
     }

     .nav-bar ul,
     .get-btn {
         display: none;
     }

     .logo {
         width: 125.61px;
         height: 34.62px;
         flex: none;
         order: 0;
         flex-grow: 0;
     }



     header {
         display: flex;
         flex-direction: row;
         align-items: center;
         padding: 10px 16px;
         gap: 10px;
         width: 375px;
         height: 913px;
         background: #FFE3E8;
         flex: none;
         order: 0;
         align-self: stretch;
         flex-grow: 0;
     }

     .online-logo {
         width: 36px;
         height: 36px;
         flex: none;
         order: 0;
         flex-grow: 0;
     }

     .main {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         padding: 0px;
         gap: 24px;
         width: 340px;
         height: 893px;
         flex: none;
         order: 0;
         flex-grow: 0;
     }

     .big {
         width: 340px;
         height: 135px;
         font-family: 'Figtree';
         font-style: normal;
         font-weight: 700;
         font-size: 34px;
         line-height: 42px;
         text-align: center;
         text-transform: capitalize;
         color: #000000;
         flex: none;
         order: 0;
         align-self: stretch;
         flex-grow: 0;
     }

     .content {
         display: block;
         position: static;
         padding-top: 50px;
         width: 375px;
     }

     .text {
         width: 340px;
         height: 204px;
         font-family: 'Figtree';
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 34px;
         text-align: center;
         text-transform: capitalize;
         color: #000000;
         flex: none;
         order: 1;
         align-self: stretch;
         flex-grow: 0;
     }

     .line {
         display: none;
     }

     .btn {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         align-content: center;
         padding: 0px;
         gap: 24px;
         width: 340px;
         height: 116px;
         flex: none;
         order: 2;
         align-self: stretch;
         flex-grow: 0;
     }

     .girl {
         position: absolute;
         width: 318.96px;
         height: 366px;
         left: 11.05px;
     }

     .try {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         padding: 0px;
         gap: 24px;
         width: 340px;
         height: 893px;
         flex: none;
         order: 0;
         flex-grow: 0;

     }

     .girl {
         width: 330.13px;
         height: 366px;
         flex: none;
         order: 3;
         flex-grow: 0;
     }

     .hero-image {
         position: absolute;
         width: 319.08px;
         height: 366px;
         left: 11.05px;

     }

     .photo {
         position: absolute;
         width: 254.61px;
         height: 365.82px;
         left: 33.69px;
         top: 527px;
         background: url(portrait-happy-young-woman-standing-with-backpack-holding-books-mobile-phone-isolated-white-wall-removebg-preview.png);
     }

     .circle-2 {
         position: absolute;
         width: 239.74px;
         height: 239.74px;
         left: 50.92px;
         top: 613.39px;
         background: radial-gradient(50.11% 50.11% at 50.11% 49.89%, #FECDD5 0%, #FFE2E7 100%);
     }

     .circle-1 {
         position: absolute;
         width: 318.96px;
         height: 318.96px;
         left: 11.05px;
         top: 574.04px;
         background: radial-gradient(55.26% 55.26% at 50% 44.74%, #FFE4E9 0%, #FFCBD4 100%);
     }

     .online {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         padding: 30px 16px;
         gap: 20px;
         position: absolute;
         width: 180.25px;
         height: 67.26px;
         left: 176.85px;
         top: 800.72px;
         background: #FFFFFF;
         border-radius: 10px;
     }

     .rate {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         padding: 20px 15px;
         gap: 8px;
         position: absolute;
         width: 179.87px;
         height: 64.4px;
         left: 0px;
         top: 727.99px;
         background-color: rgb(255, 255, 255);
         backdrop-filter: blur(45.5px);
         border-radius: 10px;
     }

     .page {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 40px 0px;
         gap: 26px;
         width: 375px;
         height: 2198.54px;
         flex: none;
         order: 1;
         align-self: stretch;
         flex-grow: 0;
     }

     .pill {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         padding: 10px 20px;
         gap: 10px;
         width: 154px;
         height: 42px;
         background: rgba(253, 146, 164, 0.3);
         border-radius: 6px;
         flex: none;
         order: 0;
         flex-grow: 0;
     }

     .hero {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 0px;
         gap: 25px;
         width: 375px;
         flex: none;
         order: 0;
         align-self: stretch;
         flex-grow: 0;
     }

     .pill p {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 0px;
         gap: 25px;
         width: 375px;
         height: 42px;
         flex: none;
         order: 0;
         align-self: stretch;
         flex-grow: 0;
     }

     .hero h1 {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 0px;
         gap: 25px;
         width: 375px;
         height: 146.54px;
         flex: none;
         order: 1;
         align-self: stretch;
         flex-grow: 0;
     }

     .cards {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-left: 85px;
         gap: 20px;
         height: 450px;
         flex: none;
         order: 1;
         align-self: stretch;
         width: 298.75px;
     }

     .card {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: center;
         padding: 20px;
         gap: 24px;
         width: 298.75px;
         height: 450px;
         background: #FFFFFF;
         box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
         border-radius: 20px;
         flex: none;
         order: 2;
         flex-grow: 0;
     }

     .card-img {
         width: 300px;
         height: 200px;
         flex: none;
         order: 0;
         flex-grow: 0;
     }

     .cross {
         width: 32px;
         height: 32px;
         background-color: transparent;
         border: none;
         flex: none;
         order: 1;
         flex-grow: 0;

     }

 }

 .page::after {
     content: "";
     display: block;
     height: 6px;
     width: 100%;
     margin-top: 36px;
     background: linear-gradient(90deg, rgba(10, 20, 60, 0.02), rgba(10, 20, 60, 0.02));
     border-radius: 4px;
 }

 .card-1 {
     position: absolute;
     left: 16.67%;
     right: 16.67%;
     top: 12.74%;
     bottom: 12.74%;
 }

 body {
     margin: 0;
     background-color: #f4f4f9;
 }

 .header {
     display: flex;
     flex-direction: row-reverse;
     justify-content: space-between;
     align-items: center;
     padding: 0 20px 20px 20px;
     border-bottom: 1px solid #eee;
 }

 .logo-container {
     display: flex;
     align-items: center;
 }

 main {
     background-color: white;
 }
